NODE_ENV=development
PORT=3000
CLIENT_URL=http://localhost:5173
ADMIN_URL=http://localhost:5174
APP_SECRET=kayou-local-secret
MYSQL_HOST=127.0.0.1
MYSQL_PORT=3306
MYSQL_DATABASE=kayou
MYSQL_USER=kayou
MYSQL_PASSWORD=kayou
